body {
  background-color: #a7b1ba;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: block;
      background: url(/assets/body-top.gif) repeat-x 0 0 , url(/assets/body.gif) repeat 0 0 ;
}
.body {
  // background-color: #DCDCDC;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
    margin-left: 10%;
    margin-right: 10%;
      display: block;
      padding-top: 6px;
      background: url(/assets/content.png) repeat 0 0;
}
.head{
  background: url(/assets/FindOrigin4.png) no-repeat;
  background-size: contain;
  -ms-behavior: url(/assets/backgroundsize.min.htc);
  margin: -7px;
  -webkit-border-radius: 65px;-moz-border-radius: 65px;border-radius: 65px;
  // -webkit-box-shadow: #B3B3B3 65px 65px 65px;-moz-box-shadow: #B3B3B3 65px 65px 65px; box-shadow: #B3B3B3 65px 65px 65px;
  
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
